<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="DbHelperSettings" type="FYJ.Data.Config.DbHelperSection, FYJ.Data"/>
  </configSections>
  
  <DbHelperSettings>
    <DbHelperSetting name="default" providerName="System.Data.SQLite" connectionString="data source=data.db" isDefault="true" isEncrypt="false" encryptType="FYJ.Data.DbEncrypt,FYJ.Data" ></DbHelperSetting>
    <DbHelperSetting name="sqlserver" providerName="System.Data.SqlClient" connectionString="753F39C438D2FFB4BD230035FED3A94DF4BD113C356DB9CADE0892B0BCDB522B99CF525232A3B015D4724D33ACBC4D" isDefault="true" isEncrypt="true" encryptType="FYJ.Data.DbEncrypt,FYJ.Data" ></DbHelperSetting>
    <DbHelperSetting name="mysql" providerName="MySql.Data.MySqlClient" connectionString="Host=127.0.0.1;UserName=root;Password=root;Database=test;Port=3306;CharSet=utf8;Allow Zero Datetime=true" isDefault="true" isEncrypt="false" encryptType="FYJ.Data.DbEncrypt,FYJ.Data" ></DbHelperSetting>
  </DbHelperSettings>

  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
    </DbProviderFactories>
  </system.data>
<startup useLegacyV2RuntimeActivationPolicy="true">
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  <supportedRuntime version="v2.0.50727"/>
</startup>
</configuration>
